@font-face {
    font-family: 'Pixel';
    src: url('../fonts/moonracr/regular/moonracr-webfont.eot');
    src: url('../fonts/moonracr/regular/moonracr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moonracr/regular/moonracr-webfont.woff') format('woff'),
         url('../fonts/moonracr/regular/moonracr-webfont.ttf') format('truetype'),
         url('../fonts/moonracr/regular/moonracr-webfont.svg#04b03regular') format('svg');
    font-weight: normal;
    font-style: normal;
}