/* line 17, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Pixel';
  src: url("../fonts/orangeki/regular/orangeki-webfont.eot");
  src: url("../fonts/orangeki/regular/orangeki-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/orangeki/regular/orangeki-webfont.woff") format("woff"), url("../fonts/orangeki/regular/orangeki-webfont.ttf") format("truetype"), url("../fonts/orangeki/regular/orangeki-webfont.svg#04b03regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel-04b03';
  src: url("../fonts/04b03/regular/04b03.eot");
  src: url("../fonts/04b03/regular/04b03.eot?#iefix") format("embedded-opentype"), url("../fonts/04b03/regular/04b03.woff") format("woff"), url("../fonts/04b03/regular/04b03.ttf") format("truetype"), url("../fonts/04b03/regular/04b03.svg#04b03regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel-Arcade';
  src: url("../fonts/arcade/regular/arcade-webfont.eot");
  src: url("../fonts/arcade/regular/arcade-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arcade/regular/arcade-webfont.woff") format("woff"), url("../fonts/arcade/regular/arcade-webfont.ttf") format("truetype"), url("../fonts/arcade/regular/arcade-webfont.svg#04b03regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../scss/_layout.scss */
body {
  background: url(../img/layout/environment/bg.png);
  overflow: hidden;
}

/* line 2, ../scss/layout/_menu.scss */
#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 11, ../scss/layout/_menu.scss */
#menu h2 {
  font-size: 40px;
  font-family: "Pixel", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin: 10px 0 0 10px;
}
/* line 21, ../scss/layout/_menu.scss */
#menu.inactive {
  display: none;
}
/* line 26, ../scss/layout/_menu.scss */
#menu .submenu {
  position: absolute;
  width: 400px;
  top: 20%;
  left: 50%;
  margin-left: -200px;
}
/* line 35, ../scss/layout/_menu.scss */
#menu .button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  font-family: "Pixel", Arial, sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black;
  box-shadow: 0px 0px 2px black;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
/* line 49, ../scss/layout/_menu.scss */
#menu .button:hover {
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 55, ../scss/layout/_menu.scss */
#menu .user-info {
  position: absolute;
  font-family: "Pixel";
  font-size: 25px;
  color: white;
  left: 10px;
  bottom: 10px;
  width: 100%;
}
/* line 65, ../scss/layout/_menu.scss */
#menu .user-info div.username {
  float: left;
  margin-right: 10px;
}
/* line 72, ../scss/layout/_menu.scss */
#menu .user-info div.level,
#menu .user-info div.points {
  float: right;
  padding-right: 7px;
}
/* line 78, ../scss/layout/_menu.scss */
#menu .user-info div.points {
  padding-right: 17px;
}

/* line 2, ../scss/layout/_layer.scss */
#layer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 16, ../scss/layout/_layer.scss */
#layer.active {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 22, ../scss/layout/_layer.scss */
#layer .content {
  position: absolute;
  width: 380px;
  padding: 20px;
  height: 80%;
  top: 5%;
  left: 50%;
  margin-left: -210px;
  overflow: auto;
  background: white;
  font-family: Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 37, ../scss/layout/_layer.scss */
#layer .content table {
  width: 100%;
  height: 100%;
  font-family: "Pixel-04b03";
}
/* line 43, ../scss/layout/_layer.scss */
#layer .content table th {
  color: gray;
  font-weight: bold;
  border-bottom: 1px dashed gray;
}
/* line 50, ../scss/layout/_layer.scss */
#layer .content table td {
  font-size: 20px;
}
/* line 56, ../scss/layout/_layer.scss */
#layer .content table td,
#layer .content table th {
  padding: 5px;
}
/* line 62, ../scss/layout/_layer.scss */
#layer .content table tr:nth-child(2n) {
  background-color: #f7f7f7;
}
/* line 68, ../scss/layout/_layer.scss */
#layer .close {
  cursor: pointer;
  position: absolute;
  background: red;
  padding: 5px 10px;
  font-family: "Pixel", Arial, sans-serif;
  font-size: 20px;
  color: white;
  top: 0px;
  right: 0px;
  font-family: "Arial", sans-serif;
  -webkit-border-radius: 3px 10px 3px 3px;
  -moz-border-radius: 3px 10px 3px 3px;
  -ms-border-radius: 3px 10px 3px 3px;
  -o-border-radius: 3px 10px 3px 3px;
  border-radius: 3px 10px 3px 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-box-shadow: -1px 1px 3px black;
  -moz-box-shadow: -1px 1px 3px black;
  box-shadow: -1px 1px 3px black;
}
/* line 84, ../scss/layout/_layer.scss */
#layer .close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 91, ../scss/layout/_layer.scss */
#layer.small .content {
  top: 30%;
  height: 30%;
}
/* line 97, ../scss/layout/_layer.scss */
#layer.dynamic .content {
  height: auto;
  top: 30%;
}

/* line 2, ../scss/layout/_off-game.scss */
h1.heading {
  position: relative;
  font-family: "Pixel", sans-serif;
  font-size: 100px;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  color: #152525;
  text-align: center;
  margin-top: 2%;
}
/* line 15, ../scss/layout/_off-game.scss */
h1.heading:after, h1.heading:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  height: 10px;
  width: 200px;
  background-color: #152525;
}
/* line 26, ../scss/layout/_off-game.scss */
h1.heading:after {
  left: -210px;
}
/* line 31, ../scss/layout/_off-game.scss */
h1.heading:before {
  right: -210px;
}

/* line 2, ../scss/layout/_playground.scss */
.playground {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 500px;
  margin-left: -400px;
  margin-top: -300px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 14, ../scss/layout/_playground.scss */
.playground #game {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 2, ../scss/layout/_stat-display.scss */
.stat-display {
  position: absolute;
  width: 100px;
  left: 0;
  top: 15px;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -webkit-transition: opacity 1s, left 0.5s;
  -moz-transition: opacity 1s, left 0.5s;
  -o-transition: opacity 1s, left 0.5s;
  transition: opacity 1s, left 0.5s;
}
/* line 14, ../scss/layout/_stat-display.scss */
.stat-display.visible {
  left: -100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 20, ../scss/layout/_stat-display.scss */
.stat-display .deko-pug {
  position: absolute;
  width: 64px;
  height: 58px;
  background: url(../img/layout/pugs/pug-default.png);
  left: 50%;
  top: -53px;
  margin-left: -60px;
}
/* line 31, ../scss/layout/_stat-display.scss */
.stat-display .module {
  position: relative;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  color: #808080;
  font-family: "Pixel", sans-serif;
}
/* line 41, ../scss/layout/_stat-display.scss */
.stat-display .module:not(:last-child) {
  border-bottom: 1px solid #DDDDDD;
}
/* line 46, ../scss/layout/_stat-display.scss */
.stat-display .module:after {
  content: "Default";
  display: block;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 9px;
  line-height: 0;
  text-transform: uppercase;
}
/* line 60, ../scss/layout/_stat-display.scss */
.stat-display .life {
  position: relative;
  height: 55px;
}
/* line 65, ../scss/layout/_stat-display.scss */
.stat-display .life .hearts {
  top: 20px;
  position: absolute;
  background: url(../img/layout/pugs/life/hearts.png) no-repeat;
  height: 22px;
  width: 100%;
}
/* line 74, ../scss/layout/_stat-display.scss */
.stat-display .life.x3 .hearts {
  background-position: center 0;
}
/* line 79, ../scss/layout/_stat-display.scss */
.stat-display .life.x2 .hearts {
  background-position: center -22px;
}
/* line 84, ../scss/layout/_stat-display.scss */
.stat-display .life.x1 .hearts {
  background-position: center -44px;
}
/* line 89, ../scss/layout/_stat-display.scss */
.stat-display .life.x0 .hearts {
  background-position: center -66px;
}
/* line 96, ../scss/layout/_stat-display.scss */
.stat-display .boost {
  height: 60px;
}
/* line 100, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper {
  position: absolute;
  top: 20px;
  height: 15px;
  width: 80px;
  padding: 10px;
}
/* line 109, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar {
  height: inherit;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 114, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.loaded {
  background-color: #82FE82;
}
/* line 119, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.loading {
  background-color: orange;
}
/* line 124, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.empty {
  width: 1%;
  background-color: red;
}
/* line 133, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers {
  height: 30px;
}
/* line 137, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers .game-state {
  margin: 10px 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 147, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers .game-state.pause:after, .stat-display .game-handlers .game-state.pause:before {
  content: "";
  width: 9px;
  height: 20px;
  background: #808080;
}
/* line 155, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers .game-state.pause:after {
  float: left;
}
/* line 160, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers .game-state.pause:before {
  float: right;
}
/* line 166, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers .game-state.continue {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #808080;
}
/* line 178, ../scss/layout/_stat-display.scss */
.stat-display .action-msg {
  height: 30px;
  line-height: 100%;
  font-size: 12px;
  text-align: left;
  padding: 22px 5px 0 5px;
}
/* line 186, ../scss/layout/_stat-display.scss */
.stat-display .action-msg.warning {
  color: red;
}
/* line 190, ../scss/layout/_stat-display.scss */
.stat-display .action-msg.warning:after {
  color: #808080;
}
/* line 196, ../scss/layout/_stat-display.scss */
.stat-display .action-msg span {
  display: block;
}
/* line 203, ../scss/layout/_stat-display.scss */
.stat-display .game-handlers:after {
  content: "";
}
/* line 208, ../scss/layout/_stat-display.scss */
.stat-display .life:after {
  content: "Life";
}
/* line 213, ../scss/layout/_stat-display.scss */
.stat-display .points:after {
  content: "Points";
}
/* line 218, ../scss/layout/_stat-display.scss */
.stat-display .level:after {
  content: "Level";
}
/* line 223, ../scss/layout/_stat-display.scss */
.stat-display .boost:after {
  content: "Boost";
}
/* line 228, ../scss/layout/_stat-display.scss */
.stat-display .action-msg:after {
  content: "Last message";
}

/* line 2, ../scss/layout/_environment.scss */
.environment {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #8fffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 11, ../scss/layout/_environment.scss */
.environment .ground {
  position: absolute;
  width: 100%;
  height: 85px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  bottom: 0;
  background: url(../img/layout/environment/ground.jpg) repeat-x;
}
/* line 21, ../scss/layout/_environment.scss */
.environment .hut {
  position: absolute;
  width: 120px;
  height: 126px;
  background: url("../img/layout/environment/hut.png") no-repeat;
  left: 10%;
  bottom: 40px;
  z-index: 1;
}
/* line 32, ../scss/layout/_environment.scss */
.environment .cloud-wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 37, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud {
  top: 50px;
  position: absolute;
  background: transparent no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 44, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.inactive {
  display: none;
}
/* line 49, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.c1 {
  width: 200px;
  height: 55px;
  background-image: url("../img/layout/environment/clouds/cloud1.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 57, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.c2 {
  width: 150px;
  height: 41px;
  background-image: url("../img/layout/environment/clouds/cloud2.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 65, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.c3 {
  width: 200px;
  height: 55px;
  background-image: url("../img/layout/environment/clouds/cloud1.png");
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
/* line 73, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.c4 {
  width: 150px;
  height: 41px;
  background-image: url("../img/layout/environment/clouds/cloud2.png");
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 81, ../scss/layout/_environment.scss */
.environment .cloud-wrapper .cloud.c5 {
  width: 150px;
  height: 41px;
  background-image: url("../img/layout/environment/clouds/cloud2.png");
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 2, ../scss/layout/_pug-player.scss */
.pug-player {
  width: 64px;
  height: 58px;
  background: url(../img/layout/pugs/pug-player/pug-left-sprite.png) no-repeat;
  position: absolute;
  bottom: 35px;
  left: 100px;
  z-index: 5;
}
/* line 12, ../scss/layout/_pug-player.scss */
.pug-player.inactive {
  display: none;
}
/* line 17, ../scss/layout/_pug-player.scss */
.pug-player .mouth {
  position: absolute;
  left: 0;
  width: 100%;
  height: 35px;
}
/* line 26, ../scss/layout/_pug-player.scss */
.pug-player.right .mouth {
  left: auto;
  right: 0;
}
/* line 32, ../scss/layout/_pug-player.scss */
.pug-player.right {
  background-image: url(../img/layout/pugs/pug-player/pug-right-sprite.png);
}
/* line 42, ../scss/layout/_pug-player.scss */
.pug-player.jumping {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 47, ../scss/layout/_pug-player.scss */
.pug-player.jumping.right {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

/* line 2, ../scss/layout/_rain.scss */
.rain-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

/* line 12, ../scss/layout/_rain.scss */
.rain-wrapper .drop {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 20, ../scss/layout/_rain.scss */
.rain-wrapper .drop.eaten {
  visibility: hidden;
}
/* line 25, ../scss/layout/_rain.scss */
.rain-wrapper .drop.candy {
  background: url(../img/layout/rain/candy.png) no-repeat;
}
/* line 30, ../scss/layout/_rain.scss */
.rain-wrapper .drop.bone {
  width: 32px;
  height: 32px;
  background: url(../img/layout/rain/bone.png) no-repeat;
}
/* line 37, ../scss/layout/_rain.scss */
.rain-wrapper .drop.hotdog {
  width: 32px;
  height: 14px;
  background: url(../img/layout/rain/hotdog.png) no-repeat;
}

/* line 4, ../scss/layout/_formular.scss */
form .input-wrapper {
  width: 100%;
}
/* line 10, ../scss/layout/_formular.scss */
form input,
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-width: 0;
}
/* line 16, ../scss/layout/_formular.scss */
form .input-wrapper input {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-family: "Pixel";
  border: none;
  border-bottom: 2px solid black;
}
/* line 28, ../scss/layout/_formular.scss */
form .input-wrapper.submit input {
  float: left;
  width: 80%;
}
/* line 34, ../scss/layout/_formular.scss */
form .input-wrapper.submit input[type="submit"] {
  float: right;
  width: 20%;
  background: black;
  border-bottom: 2px solid black;
  color: white;
  cursor: pointer;
}
/* line 45, ../scss/layout/_formular.scss */
form .input-wrapper label {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 19px;
  color: #808080;
  padding: 5px 0;
  font-family: "Pixel", sans-serif;
}
/* line 56, ../scss/layout/_formular.scss */
form .error {
  font-family: "Pixel", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: block;
  color: red;
  padding: 10px 0 0 0;
  clear: both;
}

/* line 1, ../scss/layout/_flags.scss */
.flag {
  display: block;
  width: 16px;
  height: 11px;
  background: url(../img/layout/ui/flags.png) no-repeat;
}
/* line 8, ../scss/layout/_flags.scss */
.flag.center {
  position: relative;
  left: 50%;
  margin-left: -8px;
}

/* line 15, ../scss/layout/_flags.scss */
.flag.flag-ad {
  background-position: -16px 0;
}

/* line 16, ../scss/layout/_flags.scss */
.flag.flag-ae {
  background-position: -32px 0;
}

/* line 17, ../scss/layout/_flags.scss */
.flag.flag-af {
  background-position: -48px 0;
}

/* line 18, ../scss/layout/_flags.scss */
.flag.flag-ag {
  background-position: -64px 0;
}

/* line 19, ../scss/layout/_flags.scss */
.flag.flag-ai {
  background-position: -80px 0;
}

/* line 20, ../scss/layout/_flags.scss */
.flag.flag-al {
  background-position: -96px 0;
}

/* line 21, ../scss/layout/_flags.scss */
.flag.flag-am {
  background-position: -112px 0;
}

/* line 22, ../scss/layout/_flags.scss */
.flag.flag-an {
  background-position: -128px 0;
}

/* line 23, ../scss/layout/_flags.scss */
.flag.flag-ao {
  background-position: -144px 0;
}

/* line 24, ../scss/layout/_flags.scss */
.flag.flag-ar {
  background-position: -160px 0;
}

/* line 25, ../scss/layout/_flags.scss */
.flag.flag-as {
  background-position: -176px 0;
}

/* line 26, ../scss/layout/_flags.scss */
.flag.flag-at {
  background-position: -192px 0;
}

/* line 27, ../scss/layout/_flags.scss */
.flag.flag-au {
  background-position: -208px 0;
}

/* line 28, ../scss/layout/_flags.scss */
.flag.flag-aw {
  background-position: -224px 0;
}

/* line 29, ../scss/layout/_flags.scss */
.flag.flag-az {
  background-position: -240px 0;
}

/* line 30, ../scss/layout/_flags.scss */
.flag.flag-ba {
  background-position: 0 -11px;
}

/* line 31, ../scss/layout/_flags.scss */
.flag.flag-bb {
  background-position: -16px -11px;
}

/* line 32, ../scss/layout/_flags.scss */
.flag.flag-bd {
  background-position: -32px -11px;
}

/* line 33, ../scss/layout/_flags.scss */
.flag.flag-be {
  background-position: -48px -11px;
}

/* line 34, ../scss/layout/_flags.scss */
.flag.flag-bf {
  background-position: -64px -11px;
}

/* line 35, ../scss/layout/_flags.scss */
.flag.flag-bg {
  background-position: -80px -11px;
}

/* line 36, ../scss/layout/_flags.scss */
.flag.flag-bh {
  background-position: -96px -11px;
}

/* line 37, ../scss/layout/_flags.scss */
.flag.flag-bi {
  background-position: -112px -11px;
}

/* line 38, ../scss/layout/_flags.scss */
.flag.flag-bj {
  background-position: -128px -11px;
}

/* line 39, ../scss/layout/_flags.scss */
.flag.flag-bm {
  background-position: -144px -11px;
}

/* line 40, ../scss/layout/_flags.scss */
.flag.flag-bn {
  background-position: -160px -11px;
}

/* line 41, ../scss/layout/_flags.scss */
.flag.flag-bo {
  background-position: -176px -11px;
}

/* line 42, ../scss/layout/_flags.scss */
.flag.flag-br {
  background-position: -192px -11px;
}

/* line 43, ../scss/layout/_flags.scss */
.flag.flag-bs {
  background-position: -208px -11px;
}

/* line 44, ../scss/layout/_flags.scss */
.flag.flag-bt {
  background-position: -224px -11px;
}

/* line 45, ../scss/layout/_flags.scss */
.flag.flag-bv {
  background-position: -240px -11px;
}

/* line 46, ../scss/layout/_flags.scss */
.flag.flag-bw {
  background-position: 0 -22px;
}

/* line 47, ../scss/layout/_flags.scss */
.flag.flag-by {
  background-position: -16px -22px;
}

/* line 48, ../scss/layout/_flags.scss */
.flag.flag-bz {
  background-position: -32px -22px;
}

/* line 49, ../scss/layout/_flags.scss */
.flag.flag-ca {
  background-position: -48px -22px;
}

/* line 50, ../scss/layout/_flags.scss */
.flag.flag-catalonia {
  background-position: -64px -22px;
}

/* line 51, ../scss/layout/_flags.scss */
.flag.flag-cd {
  background-position: -80px -22px;
}

/* line 52, ../scss/layout/_flags.scss */
.flag.flag-cf {
  background-position: -96px -22px;
}

/* line 53, ../scss/layout/_flags.scss */
.flag.flag-cg {
  background-position: -112px -22px;
}

/* line 54, ../scss/layout/_flags.scss */
.flag.flag-ch {
  background-position: -128px -22px;
}

/* line 55, ../scss/layout/_flags.scss */
.flag.flag-ci {
  background-position: -144px -22px;
}

/* line 56, ../scss/layout/_flags.scss */
.flag.flag-ck {
  background-position: -160px -22px;
}

/* line 57, ../scss/layout/_flags.scss */
.flag.flag-cl {
  background-position: -176px -22px;
}

/* line 58, ../scss/layout/_flags.scss */
.flag.flag-cm {
  background-position: -192px -22px;
}

/* line 59, ../scss/layout/_flags.scss */
.flag.flag-cn {
  background-position: -208px -22px;
}

/* line 60, ../scss/layout/_flags.scss */
.flag.flag-co {
  background-position: -224px -22px;
}

/* line 61, ../scss/layout/_flags.scss */
.flag.flag-cr {
  background-position: -240px -22px;
}

/* line 62, ../scss/layout/_flags.scss */
.flag.flag-cu {
  background-position: 0 -33px;
}

/* line 63, ../scss/layout/_flags.scss */
.flag.flag-cv {
  background-position: -16px -33px;
}

/* line 64, ../scss/layout/_flags.scss */
.flag.flag-cw {
  background-position: -32px -33px;
}

/* line 65, ../scss/layout/_flags.scss */
.flag.flag-cy {
  background-position: -48px -33px;
}

/* line 66, ../scss/layout/_flags.scss */
.flag.flag-cz {
  background-position: -64px -33px;
}

/* line 67, ../scss/layout/_flags.scss */
.flag.flag-de {
  background-position: -80px -33px;
}

/* line 68, ../scss/layout/_flags.scss */
.flag.flag-dj {
  background-position: -96px -33px;
}

/* line 69, ../scss/layout/_flags.scss */
.flag.flag-dk {
  background-position: -112px -33px;
}

/* line 70, ../scss/layout/_flags.scss */
.flag.flag-dm {
  background-position: -128px -33px;
}

/* line 71, ../scss/layout/_flags.scss */
.flag.flag-do {
  background-position: -144px -33px;
}

/* line 72, ../scss/layout/_flags.scss */
.flag.flag-dz {
  background-position: -160px -33px;
}

/* line 73, ../scss/layout/_flags.scss */
.flag.flag-ec {
  background-position: -176px -33px;
}

/* line 74, ../scss/layout/_flags.scss */
.flag.flag-ee {
  background-position: -192px -33px;
}

/* line 75, ../scss/layout/_flags.scss */
.flag.flag-eg {
  background-position: -208px -33px;
}

/* line 76, ../scss/layout/_flags.scss */
.flag.flag-eh {
  background-position: -224px -33px;
}

/* line 77, ../scss/layout/_flags.scss */
.flag.flag-en {
  background-position: -240px -33px;
}

/* line 78, ../scss/layout/_flags.scss */
.flag.flag-uk {
  background-position: -240px -33px;
}

/* line 79, ../scss/layout/_flags.scss */
.flag.flag-er {
  background-position: 0 -44px;
}

/* line 80, ../scss/layout/_flags.scss */
.flag.flag-es {
  background-position: -16px -44px;
}

/* line 81, ../scss/layout/_flags.scss */
.flag.flag-et {
  background-position: -32px -44px;
}

/* line 82, ../scss/layout/_flags.scss */
.flag.flag-eu {
  background-position: -48px -44px;
}

/* line 83, ../scss/layout/_flags.scss */
.flag.flag-fi {
  background-position: -64px -44px;
}

/* line 84, ../scss/layout/_flags.scss */
.flag.flag-fj {
  background-position: -80px -44px;
}

/* line 85, ../scss/layout/_flags.scss */
.flag.flag-fk {
  background-position: -96px -44px;
}

/* line 86, ../scss/layout/_flags.scss */
.flag.flag-fm {
  background-position: -112px -44px;
}

/* line 87, ../scss/layout/_flags.scss */
.flag.flag-fo {
  background-position: -128px -44px;
}

/* line 88, ../scss/layout/_flags.scss */
.flag.flag-fr {
  background-position: -144px -44px;
}

/* line 89, ../scss/layout/_flags.scss */
.flag.flag-ga {
  background-position: -160px -44px;
}

/* line 90, ../scss/layout/_flags.scss */
.flag.flag-gb {
  background-position: -176px -44px;
}

/* line 91, ../scss/layout/_flags.scss */
.flag.flag-gd {
  background-position: -192px -44px;
}

/* line 92, ../scss/layout/_flags.scss */
.flag.flag-ge {
  background-position: -208px -44px;
}

/* line 93, ../scss/layout/_flags.scss */
.flag.flag-gf {
  background-position: -224px -44px;
}

/* line 94, ../scss/layout/_flags.scss */
.flag.flag-gg {
  background-position: -240px -44px;
}

/* line 95, ../scss/layout/_flags.scss */
.flag.flag-gh {
  background-position: 0 -55px;
}

/* line 96, ../scss/layout/_flags.scss */
.flag.flag-gi {
  background-position: -16px -55px;
}

/* line 97, ../scss/layout/_flags.scss */
.flag.flag-gl {
  background-position: -32px -55px;
}

/* line 98, ../scss/layout/_flags.scss */
.flag.flag-gm {
  background-position: -48px -55px;
}

/* line 99, ../scss/layout/_flags.scss */
.flag.flag-gn {
  background-position: -64px -55px;
}

/* line 100, ../scss/layout/_flags.scss */
.flag.flag-gp {
  background-position: -80px -55px;
}

/* line 101, ../scss/layout/_flags.scss */
.flag.flag-gq {
  background-position: -96px -55px;
}

/* line 102, ../scss/layout/_flags.scss */
.flag.flag-gr {
  background-position: -112px -55px;
}

/* line 103, ../scss/layout/_flags.scss */
.flag.flag-gs {
  background-position: -128px -55px;
}

/* line 104, ../scss/layout/_flags.scss */
.flag.flag-gt {
  background-position: -144px -55px;
}

/* line 105, ../scss/layout/_flags.scss */
.flag.flag-gu {
  background-position: -160px -55px;
}

/* line 106, ../scss/layout/_flags.scss */
.flag.flag-gw {
  background-position: -176px -55px;
}

/* line 107, ../scss/layout/_flags.scss */
.flag.flag-gy {
  background-position: -192px -55px;
}

/* line 108, ../scss/layout/_flags.scss */
.flag.flag-hk {
  background-position: -208px -55px;
}

/* line 109, ../scss/layout/_flags.scss */
.flag.flag-hm {
  background-position: -224px -55px;
}

/* line 110, ../scss/layout/_flags.scss */
.flag.flag-hn {
  background-position: -240px -55px;
}

/* line 111, ../scss/layout/_flags.scss */
.flag.flag-hr {
  background-position: 0 -66px;
}

/* line 112, ../scss/layout/_flags.scss */
.flag.flag-ht {
  background-position: -16px -66px;
}

/* line 113, ../scss/layout/_flags.scss */
.flag.flag-hu {
  background-position: -32px -66px;
}

/* line 114, ../scss/layout/_flags.scss */
.flag.flag-ic {
  background-position: -48px -66px;
}

/* line 115, ../scss/layout/_flags.scss */
.flag.flag-id {
  background-position: -64px -66px;
}

/* line 116, ../scss/layout/_flags.scss */
.flag.flag-ie {
  background-position: -80px -66px;
}

/* line 117, ../scss/layout/_flags.scss */
.flag.flag-il {
  background-position: -96px -66px;
}

/* line 118, ../scss/layout/_flags.scss */
.flag.flag-im {
  background-position: -112px -66px;
}

/* line 119, ../scss/layout/_flags.scss */
.flag.flag-in {
  background-position: -128px -66px;
}

/* line 120, ../scss/layout/_flags.scss */
.flag.flag-io {
  background-position: -144px -66px;
}

/* line 121, ../scss/layout/_flags.scss */
.flag.flag-iq {
  background-position: -160px -66px;
}

/* line 122, ../scss/layout/_flags.scss */
.flag.flag-ir {
  background-position: -176px -66px;
}

/* line 123, ../scss/layout/_flags.scss */
.flag.flag-is {
  background-position: -192px -66px;
}

/* line 124, ../scss/layout/_flags.scss */
.flag.flag-it {
  background-position: -208px -66px;
}

/* line 125, ../scss/layout/_flags.scss */
.flag.flag-je {
  background-position: -224px -66px;
}

/* line 126, ../scss/layout/_flags.scss */
.flag.flag-jm {
  background-position: -240px -66px;
}

/* line 127, ../scss/layout/_flags.scss */
.flag.flag-jo {
  background-position: 0 -77px;
}

/* line 128, ../scss/layout/_flags.scss */
.flag.flag-jp {
  background-position: -16px -77px;
}

/* line 129, ../scss/layout/_flags.scss */
.flag.flag-ke {
  background-position: -32px -77px;
}

/* line 130, ../scss/layout/_flags.scss */
.flag.flag-kg {
  background-position: -48px -77px;
}

/* line 131, ../scss/layout/_flags.scss */
.flag.flag-kh {
  background-position: -64px -77px;
}

/* line 132, ../scss/layout/_flags.scss */
.flag.flag-ki {
  background-position: -80px -77px;
}

/* line 133, ../scss/layout/_flags.scss */
.flag.flag-km {
  background-position: -96px -77px;
}

/* line 134, ../scss/layout/_flags.scss */
.flag.flag-kn {
  background-position: -112px -77px;
}

/* line 135, ../scss/layout/_flags.scss */
.flag.flag-kp {
  background-position: -128px -77px;
}

/* line 136, ../scss/layout/_flags.scss */
.flag.flag-kr {
  background-position: -144px -77px;
}

/* line 137, ../scss/layout/_flags.scss */
.flag.flag-kurdistan {
  background-position: -160px -77px;
}

/* line 138, ../scss/layout/_flags.scss */
.flag.flag-kw {
  background-position: -176px -77px;
}

/* line 139, ../scss/layout/_flags.scss */
.flag.flag-ky {
  background-position: -192px -77px;
}

/* line 140, ../scss/layout/_flags.scss */
.flag.flag-kz {
  background-position: -208px -77px;
}

/* line 141, ../scss/layout/_flags.scss */
.flag.flag-la {
  background-position: -224px -77px;
}

/* line 142, ../scss/layout/_flags.scss */
.flag.flag-lb {
  background-position: -240px -77px;
}

/* line 143, ../scss/layout/_flags.scss */
.flag.flag-lc {
  background-position: 0 -88px;
}

/* line 144, ../scss/layout/_flags.scss */
.flag.flag-li {
  background-position: -16px -88px;
}

/* line 145, ../scss/layout/_flags.scss */
.flag.flag-lk {
  background-position: -32px -88px;
}

/* line 146, ../scss/layout/_flags.scss */
.flag.flag-lr {
  background-position: -48px -88px;
}

/* line 147, ../scss/layout/_flags.scss */
.flag.flag-ls {
  background-position: -64px -88px;
}

/* line 148, ../scss/layout/_flags.scss */
.flag.flag-lt {
  background-position: -80px -88px;
}

/* line 149, ../scss/layout/_flags.scss */
.flag.flag-lu {
  background-position: -96px -88px;
}

/* line 150, ../scss/layout/_flags.scss */
.flag.flag-lv {
  background-position: -112px -88px;
}

/* line 151, ../scss/layout/_flags.scss */
.flag.flag-ly {
  background-position: -128px -88px;
}

/* line 152, ../scss/layout/_flags.scss */
.flag.flag-ma {
  background-position: -144px -88px;
}

/* line 153, ../scss/layout/_flags.scss */
.flag.flag-mc {
  background-position: -160px -88px;
}

/* line 154, ../scss/layout/_flags.scss */
.flag.flag-md {
  background-position: -176px -88px;
}

/* line 155, ../scss/layout/_flags.scss */
.flag.flag-me {
  background-position: -192px -88px;
}

/* line 156, ../scss/layout/_flags.scss */
.flag.flag-mg {
  background-position: -208px -88px;
}

/* line 157, ../scss/layout/_flags.scss */
.flag.flag-mh {
  background-position: -224px -88px;
}

/* line 158, ../scss/layout/_flags.scss */
.flag.flag-mk {
  background-position: -240px -88px;
}

/* line 159, ../scss/layout/_flags.scss */
.flag.flag-ml {
  background-position: 0 -99px;
}

/* line 160, ../scss/layout/_flags.scss */
.flag.flag-mm {
  background-position: -16px -99px;
}

/* line 161, ../scss/layout/_flags.scss */
.flag.flag-mn {
  background-position: -32px -99px;
}

/* line 162, ../scss/layout/_flags.scss */
.flag.flag-mo {
  background-position: -48px -99px;
}

/* line 163, ../scss/layout/_flags.scss */
.flag.flag-mp {
  background-position: -64px -99px;
}

/* line 164, ../scss/layout/_flags.scss */
.flag.flag-mq {
  background-position: -80px -99px;
}

/* line 165, ../scss/layout/_flags.scss */
.flag.flag-mr {
  background-position: -96px -99px;
}

/* line 166, ../scss/layout/_flags.scss */
.flag.flag-ms {
  background-position: -112px -99px;
}

/* line 167, ../scss/layout/_flags.scss */
.flag.flag-mt {
  background-position: -128px -99px;
}

/* line 168, ../scss/layout/_flags.scss */
.flag.flag-mu {
  background-position: -144px -99px;
}

/* line 169, ../scss/layout/_flags.scss */
.flag.flag-mv {
  background-position: -160px -99px;
}

/* line 170, ../scss/layout/_flags.scss */
.flag.flag-mw {
  background-position: -176px -99px;
}

/* line 171, ../scss/layout/_flags.scss */
.flag.flag-mx {
  background-position: -192px -99px;
}

/* line 172, ../scss/layout/_flags.scss */
.flag.flag-my {
  background-position: -208px -99px;
}

/* line 173, ../scss/layout/_flags.scss */
.flag.flag-mz {
  background-position: -224px -99px;
}

/* line 174, ../scss/layout/_flags.scss */
.flag.flag-na {
  background-position: -240px -99px;
}

/* line 175, ../scss/layout/_flags.scss */
.flag.flag-nc {
  background-position: 0 -110px;
}

/* line 176, ../scss/layout/_flags.scss */
.flag.flag-ne {
  background-position: -16px -110px;
}

/* line 177, ../scss/layout/_flags.scss */
.flag.flag-nf {
  background-position: -32px -110px;
}

/* line 178, ../scss/layout/_flags.scss */
.flag.flag-ng {
  background-position: -48px -110px;
}

/* line 179, ../scss/layout/_flags.scss */
.flag.flag-ni {
  background-position: -64px -110px;
}

/* line 180, ../scss/layout/_flags.scss */
.flag.flag-nl {
  background-position: -80px -110px;
}

/* line 181, ../scss/layout/_flags.scss */
.flag.flag-no {
  background-position: -96px -110px;
}

/* line 182, ../scss/layout/_flags.scss */
.flag.flag-np {
  background-position: -112px -110px;
}

/* line 183, ../scss/layout/_flags.scss */
.flag.flag-nr {
  background-position: -128px -110px;
}

/* line 184, ../scss/layout/_flags.scss */
.flag.flag-nu {
  background-position: -144px -110px;
}

/* line 185, ../scss/layout/_flags.scss */
.flag.flag-nz {
  background-position: -160px -110px;
}

/* line 186, ../scss/layout/_flags.scss */
.flag.flag-om {
  background-position: -176px -110px;
}

/* line 187, ../scss/layout/_flags.scss */
.flag.flag-pa {
  background-position: -192px -110px;
}

/* line 188, ../scss/layout/_flags.scss */
.flag.flag-pe {
  background-position: -208px -110px;
}

/* line 189, ../scss/layout/_flags.scss */
.flag.flag-pf {
  background-position: -224px -110px;
}

/* line 190, ../scss/layout/_flags.scss */
.flag.flag-pg {
  background-position: -240px -110px;
}

/* line 191, ../scss/layout/_flags.scss */
.flag.flag-ph {
  background-position: 0 -121px;
}

/* line 192, ../scss/layout/_flags.scss */
.flag.flag-pk {
  background-position: -16px -121px;
}

/* line 193, ../scss/layout/_flags.scss */
.flag.flag-pl {
  background-position: -32px -121px;
}

/* line 194, ../scss/layout/_flags.scss */
.flag.flag-pm {
  background-position: -48px -121px;
}

/* line 195, ../scss/layout/_flags.scss */
.flag.flag-pn {
  background-position: -64px -121px;
}

/* line 196, ../scss/layout/_flags.scss */
.flag.flag-pr {
  background-position: -80px -121px;
}

/* line 197, ../scss/layout/_flags.scss */
.flag.flag-ps {
  background-position: -96px -121px;
}

/* line 198, ../scss/layout/_flags.scss */
.flag.flag-pt {
  background-position: -112px -121px;
}

/* line 199, ../scss/layout/_flags.scss */
.flag.flag-pw {
  background-position: -128px -121px;
}

/* line 200, ../scss/layout/_flags.scss */
.flag.flag-py {
  background-position: -144px -121px;
}

/* line 201, ../scss/layout/_flags.scss */
.flag.flag-qa {
  background-position: -160px -121px;
}

/* line 202, ../scss/layout/_flags.scss */
.flag.flag-re {
  background-position: -176px -121px;
}

/* line 203, ../scss/layout/_flags.scss */
.flag.flag-ro {
  background-position: -192px -121px;
}

/* line 204, ../scss/layout/_flags.scss */
.flag.flag-rs {
  background-position: -208px -121px;
}

/* line 205, ../scss/layout/_flags.scss */
.flag.flag-ru {
  background-position: -224px -121px;
}

/* line 206, ../scss/layout/_flags.scss */
.flag.flag-rw {
  background-position: -240px -121px;
}

/* line 207, ../scss/layout/_flags.scss */
.flag.flag-sa {
  background-position: 0 -132px;
}

/* line 208, ../scss/layout/_flags.scss */
.flag.flag-sb {
  background-position: -16px -132px;
}

/* line 209, ../scss/layout/_flags.scss */
.flag.flag-sc {
  background-position: -32px -132px;
}

/* line 210, ../scss/layout/_flags.scss */
.flag.flag-scotland {
  background-position: -48px -132px;
}

/* line 211, ../scss/layout/_flags.scss */
.flag.flag-sd {
  background-position: -64px -132px;
}

/* line 212, ../scss/layout/_flags.scss */
.flag.flag-se {
  background-position: -80px -132px;
}

/* line 213, ../scss/layout/_flags.scss */
.flag.flag-sg {
  background-position: -96px -132px;
}

/* line 214, ../scss/layout/_flags.scss */
.flag.flag-sh {
  background-position: -112px -132px;
}

/* line 215, ../scss/layout/_flags.scss */
.flag.flag-si {
  background-position: -128px -132px;
}

/* line 216, ../scss/layout/_flags.scss */
.flag.flag-sk {
  background-position: -144px -132px;
}

/* line 217, ../scss/layout/_flags.scss */
.flag.flag-sl {
  background-position: -160px -132px;
}

/* line 218, ../scss/layout/_flags.scss */
.flag.flag-sm {
  background-position: -176px -132px;
}

/* line 219, ../scss/layout/_flags.scss */
.flag.flag-sn {
  background-position: -192px -132px;
}

/* line 220, ../scss/layout/_flags.scss */
.flag.flag-so {
  background-position: -208px -132px;
}

/* line 221, ../scss/layout/_flags.scss */
.flag.flag-somaliland {
  background-position: -224px -132px;
}

/* line 222, ../scss/layout/_flags.scss */
.flag.flag-sr {
  background-position: -240px -132px;
}

/* line 223, ../scss/layout/_flags.scss */
.flag.flag-ss {
  background-position: 0 -143px;
}

/* line 224, ../scss/layout/_flags.scss */
.flag.flag-st {
  background-position: -16px -143px;
}

/* line 225, ../scss/layout/_flags.scss */
.flag.flag-sv {
  background-position: -32px -143px;
}

/* line 226, ../scss/layout/_flags.scss */
.flag.flag-sx {
  background-position: -48px -143px;
}

/* line 227, ../scss/layout/_flags.scss */
.flag.flag-sy {
  background-position: -64px -143px;
}

/* line 228, ../scss/layout/_flags.scss */
.flag.flag-sz {
  background-position: -80px -143px;
}

/* line 229, ../scss/layout/_flags.scss */
.flag.flag-tc {
  background-position: -96px -143px;
}

/* line 230, ../scss/layout/_flags.scss */
.flag.flag-td {
  background-position: -112px -143px;
}

/* line 231, ../scss/layout/_flags.scss */
.flag.flag-tf {
  background-position: -128px -143px;
}

/* line 232, ../scss/layout/_flags.scss */
.flag.flag-tg {
  background-position: -144px -143px;
}

/* line 233, ../scss/layout/_flags.scss */
.flag.flag-th {
  background-position: -160px -143px;
}

/* line 234, ../scss/layout/_flags.scss */
.flag.flag-tj {
  background-position: -176px -143px;
}

/* line 235, ../scss/layout/_flags.scss */
.flag.flag-tk {
  background-position: -192px -143px;
}

/* line 236, ../scss/layout/_flags.scss */
.flag.flag-tl {
  background-position: -208px -143px;
}

/* line 237, ../scss/layout/_flags.scss */
.flag.flag-tm {
  background-position: -224px -143px;
}

/* line 238, ../scss/layout/_flags.scss */
.flag.flag-tn {
  background-position: -240px -143px;
}

/* line 239, ../scss/layout/_flags.scss */
.flag.flag-to {
  background-position: 0 -154px;
}

/* line 240, ../scss/layout/_flags.scss */
.flag.flag-tr {
  background-position: -16px -154px;
}

/* line 241, ../scss/layout/_flags.scss */
.flag.flag-tt {
  background-position: -32px -154px;
}

/* line 242, ../scss/layout/_flags.scss */
.flag.flag-tv {
  background-position: -48px -154px;
}

/* line 243, ../scss/layout/_flags.scss */
.flag.flag-tw {
  background-position: -64px -154px;
}

/* line 244, ../scss/layout/_flags.scss */
.flag.flag-tz {
  background-position: -80px -154px;
}

/* line 245, ../scss/layout/_flags.scss */
.flag.flag-ua {
  background-position: -96px -154px;
}

/* line 246, ../scss/layout/_flags.scss */
.flag.flag-ug {
  background-position: -112px -154px;
}

/* line 247, ../scss/layout/_flags.scss */
.flag.flag-um {
  background-position: -128px -154px;
}

/* line 248, ../scss/layout/_flags.scss */
.flag.flag-us {
  background-position: -144px -154px;
}

/* line 249, ../scss/layout/_flags.scss */
.flag.flag-uy {
  background-position: -160px -154px;
}

/* line 250, ../scss/layout/_flags.scss */
.flag.flag-uz {
  background-position: -176px -154px;
}

/* line 251, ../scss/layout/_flags.scss */
.flag.flag-va {
  background-position: -192px -154px;
}

/* line 252, ../scss/layout/_flags.scss */
.flag.flag-vc {
  background-position: -208px -154px;
}

/* line 253, ../scss/layout/_flags.scss */
.flag.flag-ve {
  background-position: -224px -154px;
}

/* line 254, ../scss/layout/_flags.scss */
.flag.flag-vg {
  background-position: -240px -154px;
}

/* line 255, ../scss/layout/_flags.scss */
.flag.flag-vi {
  background-position: 0 -165px;
}

/* line 256, ../scss/layout/_flags.scss */
.flag.flag-vn {
  background-position: -16px -165px;
}

/* line 257, ../scss/layout/_flags.scss */
.flag.flag-vu {
  background-position: -32px -165px;
}

/* line 258, ../scss/layout/_flags.scss */
.flag.flag-wales {
  background-position: -48px -165px;
}

/* line 259, ../scss/layout/_flags.scss */
.flag.flag-wf {
  background-position: -64px -165px;
}

/* line 260, ../scss/layout/_flags.scss */
.flag.flag-ws {
  background-position: -80px -165px;
}

/* line 261, ../scss/layout/_flags.scss */
.flag.flag-ye {
  background-position: -96px -165px;
}

/* line 262, ../scss/layout/_flags.scss */
.flag.flag-yt {
  background-position: -112px -165px;
}

/* line 263, ../scss/layout/_flags.scss */
.flag.flag-za {
  background-position: -128px -165px;
}

/* line 264, ../scss/layout/_flags.scss */
.flag.flag-zanzibar {
  background-position: -144px -165px;
}

/* line 265, ../scss/layout/_flags.scss */
.flag.flag-zm {
  background-position: -160px -165px;
}

/* line 266, ../scss/layout/_flags.scss */
.flag.flag-zw {
  background-position: -176px -165px;
}
