/* line 17, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Pixel';
  src: url("../fonts/04b03/regular/04b03.eot");
  src: url("../fonts/04b03/regular/04b03.eot?#iefix") format("embedded-opentype"), url("../fonts/04b03/regular/04b03.woff") format("woff"), url("../fonts/04b03/regular/04b03.ttf") format("truetype"), url("../fonts/04b03/regular/04b03.svg#04b03regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../scss/_layout.scss */
body {
  background: black no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 2, ../scss/layout/_off-game.scss */
h1.heading {
  position: relative;
  font-family: "Pixel", sans-serif;
  font-size: 100px;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  color: white;
  text-align: center;
  margin-top: 2%;
}
/* line 15, ../scss/layout/_off-game.scss */
h1.heading:after, h1.heading:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  height: 10px;
  width: 200px;
  background-color: white;
}
/* line 26, ../scss/layout/_off-game.scss */
h1.heading:after {
  left: -210px;
}
/* line 31, ../scss/layout/_off-game.scss */
h1.heading:before {
  right: -210px;
}

/* line 2, ../scss/layout/_playground.scss */
.playground {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 500px;
  margin-left: -400px;
  margin-top: -300px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 14, ../scss/layout/_playground.scss */
.playground #game {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 2, ../scss/layout/_stat-display.scss */
.stat-display {
  position: absolute;
  width: 100px;
  left: -100px;
  top: 15px;
  background: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 13, ../scss/layout/_stat-display.scss */
.stat-display.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 18, ../scss/layout/_stat-display.scss */
.stat-display .deko-pug {
  position: absolute;
  width: 64px;
  height: 58px;
  background: url(../img/layout/pugs/pug-default.png);
  left: 50%;
  top: -53px;
  margin-left: -60px;
}
/* line 29, ../scss/layout/_stat-display.scss */
.stat-display .module {
  position: relative;
  text-align: center;
  line-height: 90px;
  font-size: 50px;
  font-weight: bold;
  color: #808080;
  font-family: "Pixel", sans-serif;
}
/* line 39, ../scss/layout/_stat-display.scss */
.stat-display .module:not(:last-child) {
  border-bottom: 1px solid #DDDDDD;
}
/* line 44, ../scss/layout/_stat-display.scss */
.stat-display .module:after {
  content: "Default";
  display: block;
  position: absolute;
  top: 10px;
  left: 5px;
  font-weight: lighter;
  font-size: 9px;
  line-height: 0;
}
/* line 58, ../scss/layout/_stat-display.scss */
.stat-display .boost {
  height: 60px;
}
/* line 62, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper {
  position: absolute;
  top: 20px;
  height: 15px;
  width: 80px;
  padding: 10px;
}
/* line 71, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar {
  height: inherit;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 76, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.loaded {
  background-color: #82FE82;
}
/* line 81, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.loading {
  background-color: orange;
}
/* line 86, ../scss/layout/_stat-display.scss */
.stat-display .boost .bar-wrapper .bar.empty {
  width: 1%;
  background-color: red;
}
/* line 94, ../scss/layout/_stat-display.scss */
.stat-display .points:after {
  content: "Points";
}
/* line 99, ../scss/layout/_stat-display.scss */
.stat-display .level:after {
  content: "Level";
}
/* line 104, ../scss/layout/_stat-display.scss */
.stat-display .boost:after {
  content: "Boost";
}

/* line 2, ../scss/layout/_environment.scss */
.environment {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #8fffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 11, ../scss/layout/_environment.scss */
.environment .ground {
  position: absolute;
  width: 100%;
  height: 85px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  bottom: 0;
  background: url(../img/layout/environment/ground.jpg) repeat-x;
}

/* line 2, ../scss/layout/_pug-player.scss */
.pug-player {
  width: 64px;
  height: 58px;
  background: url(../img/layout/pugs/pug-player/pug-left-sprite.png) no-repeat;
  position: absolute;
  bottom: 35px;
  left: 100px;
}
/* line 11, ../scss/layout/_pug-player.scss */
.pug-player .mouth {
  position: absolute;
  left: 0;
  width: 45px;
  height: 35px;
}
/* line 20, ../scss/layout/_pug-player.scss */
.pug-player.right .mouth {
  left: auto;
  right: 0;
}
/* line 26, ../scss/layout/_pug-player.scss */
.pug-player.right {
  background-image: url(../img/layout/pugs/pug-player/pug-right-sprite.png);
}
/* line 36, ../scss/layout/_pug-player.scss */
.pug-player.jumping {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 41, ../scss/layout/_pug-player.scss */
.pug-player.jumping.right {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

/* line 2, ../scss/layout/_rain.scss */
.rain-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

/* line 12, ../scss/layout/_rain.scss */
.rain-wrapper .drop {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 19, ../scss/layout/_rain.scss */
.rain-wrapper .drop.eaten {
  visibility: hidden;
}
/* line 24, ../scss/layout/_rain.scss */
.rain-wrapper .drop.candy {
  background: url(../img/layout/rain/candy.png) no-repeat;
}
/* line 29, ../scss/layout/_rain.scss */
.rain-wrapper .drop.bone {
  width: 32px;
  height: 32px;
  background: url(../img/layout/rain/bone.png) no-repeat;
}
