.environment
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #8fffff;
	@include border-radius(10px);

	.ground
	{
		position: absolute;
		width: 100%;
		height: image-height("../img/layout/environment/ground.jpg");
		@include border-radius(10px);
		bottom: 0;
		background: url(../img/layout/environment/ground.jpg) repeat-x;
	}

	.hut
	{
		position: absolute;
		width: image-width("../img/layout/environment/hut.png");
		height: image-height("../img/layout/environment/hut.png");
		background: url("../img/layout/environment/hut.png") no-repeat;
		left: 10%;
		bottom: 40px;
		z-index: 1;
	}

	.cloud-wrapper
	{
		width: 100%;
		overflow: hidden;

		.cloud
		{
			top: 50px;
			position: absolute;
			background: transparent no-repeat;
			// @include opacity(0.8);

			&.inactive
			{
				display: none;
			}

			&.c1
			{
				width: image-width("../img/layout/environment/clouds/cloud1.png");
				height: image-height("../img/layout/environment/clouds/cloud1.png");
				background-image: url("../img/layout/environment/clouds/cloud1.png");
				// @include opacity(0.7);
			}

			&.c2
			{
				width: image-width("../img/layout/environment/clouds/cloud2.png");
				height: image-height("../img/layout/environment/clouds/cloud2.png");
				background-image: url("../img/layout/environment/clouds/cloud2.png");
				// @include opacity(0.7);
			}

			&.c3
			{
				width: image-width("../img/layout/environment/clouds/cloud1.png");
				height: image-height("../img/layout/environment/clouds/cloud1.png");
				background-image: url("../img/layout/environment/clouds/cloud1.png");
				// @include transform(scale(0.7));
			}

			&.c4
			{
				width: image-width("../img/layout/environment/clouds/cloud2.png");
				height: image-height("../img/layout/environment/clouds/cloud2.png");
				background-image: url("../img/layout/environment/clouds/cloud2.png");
				// @include transform(scale(0.5));
			}

			&.c5
			{
				width: image-width("../img/layout/environment/clouds/cloud2.png");
				height: image-height("../img/layout/environment/clouds/cloud2.png");
				background-image: url("../img/layout/environment/clouds/cloud2.png");
				// @include transform(scale(0.8));
			}
		}
	}
}