h1.heading
{
	position: relative;
	font-family: "Pixel", sans-serif;
	font-size: 100px;
	width: 350px;
	left: 50%;
	margin-left: -175px;
	color: white;
	text-align: center;
	margin-top: 2%;

	&:after,
	&:before
	{
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -5px;
		height: 10px;
		width: 200px;
		background-color: white;
	}

	&:after
	{
		left: -210px;
	}

	&:before
	{
		right: -210px;
	}
}