.playground
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 500px;
	margin-left: -400px;
	margin-top: -300px;
	background: white;
	@include border-radius(10px);

	#game
	{
		position: relative;
		width: 100%;
		height: 100%;
	}
}