.stat-display
{
	position: absolute;
	width: 100px;
	left: 0;
	top: 15px;
	background: rgba(255,255,255,0.8);
	z-index: -1;
	@include opacity(0);
	@include border-radius(10px 0 0 10px);
	@include transition(opacity 1s, left 0.5s);

	&.visible
	{
		left: -100px;
		@include opacity(1);
	}

	.deko-pug
	{
		position: absolute;
		width: image-width("../img/layout/pugs/pug-default.png");
		height: image-height("../img/layout/pugs/pug-default.png");
		background: url(../img/layout/pugs/pug-default.png);
		left: 50%;
		top: -53px;
		margin-left: -60px;
	}

	.module
	{
		position: relative;
		text-align: center;
		line-height: 90px;
		font-size: 30px;
		font-weight: bold;
		color: #808080;
		font-family: "Pixel", sans-serif;

		&:not(:last-child)
		{
			border-bottom: 1px solid #DDDDDD;
		}

		&:after
		{
			content: "Default";
			display: block;
			position: absolute;
			top: 10px;
			left: 5px;
			font-size: 9px;
			line-height: 0;
			text-transform: uppercase;
		}
	}

	// Life
	.life
	{
		position: relative;
		height: 55px;

		.hearts
		{
			top: 20px;
			position: absolute;
			background: url(../img/layout/pugs/life/hearts.png) no-repeat;
			height: 22px;
			width: 100%;
		}

		&.x3 .hearts
		{
			background-position: center 0;
		}

		&.x2 .hearts
		{
			background-position: center -22px;
		}

		&.x1 .hearts
		{
			background-position: center -44px;
		}

		&.x0 .hearts
		{
			background-position: center -66px;
		}
	}

	// Boost
	.boost
	{
		height: 60px;

		.bar-wrapper
		{
			position: absolute;
			top: 20px;
			height: 15px;
			width: 80px;
			padding: 10px;
		}

		.bar-wrapper .bar
		{
			height: inherit;
			@include transition(background-color 1s);

			&.loaded
			{
				background-color: #82FE82;
			}

			&.loading
			{
				background-color: orange;
			}

			&.empty
			{
				width: 1%;
				background-color: red;
			}
		}
	}

	// Game handlers
	.game-handlers
	{
		height: 30px;

		.game-state
		{
			margin: 10px 5px;
			width: 20px;
			height: 20px;
			cursor: pointer;

			&.pause
			{
				&:after,
				&:before
				{
					content: "";
					width: 9px;
					height: 20px;
					background: #808080;
				}

				&:after
				{
					float: left;
				}

				&:before
				{
					float: right;
				}
			}

			&.continue
			{
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid #808080;
			}
		}
	}

	// Action MSG
	.action-msg
	{
		height: 30px;
		line-height: 100%;
		font-size: 12px;
		text-align: left;
		padding: 22px 5px 0 5px;

		&.warning
		{
			color: red;

			&:after
			{
				color: #808080;
			}
		}

		span
		{
			display: block;
		}
	}

	// Headers of each section
	.game-handlers:after
	{
		content: "";
	}

	.life:after
	{
		content: "Life";
	}

	.points:after
	{
		content: "Points";
	}

	.level:after
	{
		content: "Level";
	}

	.boost:after
	{
		content: "Boost";
	}

	.action-msg:after
	{
		content: "Last message";
	}
}